@{
    ViewBag.Title = "Home Page";
}
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 intro-text">
                        <h1>
                            Body & Fitness
                            <br/>Transform
                        </h1>
                        <p>Give me 12 weeks, I'll give you changes for life! No matter your fitness level, We've got a program for YOU. YOUR transformation story is next!</p>
                        <a href="#about" class="btn btn-custom btn-lg page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Get Touch Section -->
<div id="get-touch">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <h3>Let me help you in your fitness journey</h3>
                <p>Complete the form and we will get in touch with you soon...</p>
            </div>
            <div class="col-xs-12 col-md-4 text-center"><a href="#contact" class="btn btn-custom btn-lg page-scroll">Free Consultation</a></div>
        </div>
    </div>
</div>
<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6"> <img src="~/img/about.jpg" class="img-responsive" alt=""> </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h2>Who We Are</h2>
                    <p>At XIIFIT we want to be more than a place you have a membership. We believe very strongly in fitness as a lifestyle and in the health benefits it can mean for your life. We want you to get the most out of your time with us and for your fitness experiences to be positive, rewarding and something you look forward to each day.</p>
                    <h3>Why Choose Us?</h3>
                    <div class="list-style">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul>
                                <li>Expert Staff</li>
                                <li>Program for every fitness level</li>
                                <li>FREE Trial Ssssion</li>
                                <li>100% Satisfaction Guarantee</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul>
                                <li>Free Consultation</li>
                                <li>Satisfied Customers</li>
                                <li>Family owned</li>
                                <li>Affordable Pricing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Programs Section -->
<div id="services">
    <div class="container">
        <div class="section-title">
            <h2>Our Programs</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                
                    <div class="service-media"><a href="/Programs/Details/1"><img src="~/img/program/back-to-fit-logo-header-280x158.jpg" alt=" "></a>
            </div>
                    <div class="service-desc">
                        <h3>Back To Fit</h3>
               
                <p>Transformation expert Bill Phillips has trained pro athletes, celebrities, and millions of people around the world. Now he's here to help you get back to fit. Learn about his 12-week trainer and get ready to transform your life!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-media"> <a href="/Programs/Details/2"><img src="~/img/program/total-body-dumbbell-fix-desktop-1920x1080-280x158.jpg" alt=" "> </a></div>
                <div class="service-desc">
                    <h3>The Total-Body Dumbbell Fix</h3>
                    <p>A single pair of dumbbells is all you need for a workout that will build muscle, burn fat, and leave you dripping with sweat anytime, anywhere, all in less than 30 minutes. Here's everything you need to get started!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-media"><a href="/Programs/Details/3"> <img src="~/img/program/leanbody-logo-header-280x158.jpg" alt=" "></a> </div>
                <div class="service-desc">
                    <h3>Lean Body</h3>
                    <p>It doesn't matter what shape you're in, your age, or how many diet programs you've tried. You can transform your body and become leaner and stronger with Lee Labrada!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-media"> <a href="/Programs/Details/4"><img src="~/img/program/transformed-logo-header-280x158.jpg" alt=" "></a> </div>
                <div class="service-desc">
                    <h3>Transformed</h3>
                    <p>Starting a new workout program is one thing. Keeping it up is another. Transformed is designed to provide you with everything you need to make this the year it all finally comes together!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-media"><a href="/Programs/Details/5"> <img src="~/img/program/freakmode-logo-header-280x158.jpg" alt=" "> </a></div>
                <div class="service-desc">
                    <h3>#FreakMode</h3>
                    <p>The #FreakMode 12-week workout program will help you lose fat, build muscle, and learn the best ways to stay fit for life!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-media"><a href="/Programs/Details/6"> <img src="~/img/program/big-man-on-campus-logo-header-280x158.jpg" alt=" "></a> </div>
                <div class="service-desc">
                    <h3>Big Man on Campus</h3>
                    <p>Get ready for the best class of your life. Steve Cook will teach you to lift, eat, supplement, succeed and grow. Learn the muscle-building basics; become the Big Man on Campus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facility Section -->
<div id="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>Our Facilities</h2>
        </div>
        <div class="row">
            <div class="portfolio-items">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a title="Cardio Training" data-lightbox-gallery="gallery1">
                                <div class="hover-text">
                                    <h4>Cardio Training</h4>
                                </div>
                                <img src="~/img/facilities/gym_cardio.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a title="Bodybuilding equipment" data-lightbox-gallery="gallery1">
                                <div class="hover-text">
                                    <h4>Bodybuilding equipment</h4>
                                </div>
                                <img src="~/img/facilities/body_building.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a title="Free weights" data-lightbox-gallery="gallery1">
                                <div class="hover-text">
                                    <h4>Free weights</h4>
                                </div>
                                <img src="~/img/facilities/Free-Weights-3.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a title="Boxing equipment" data-lightbox-gallery="gallery1">
                                <div class="hover-text">
                                    <h4>Boxing equipment</h4>
                                </div>
                                <img src="~/img/facilities/boxing.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a title="Yoga" data-lightbox-gallery="gallery1">
                                <div class="hover-text">
                                    <h4>Yoga</h4>
                                </div>
                                <img src="~/img/facilities/YogaCenter1-medium.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a title="Friendly staff" data-lightbox-gallery="gallery1">
                                <div class="hover-text">
                                    <h4>Friendly staff</h4>
                                </div>
                                <img src="~/img/facilities/train-with-a-friend-at-hbf-stadium.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Success Stories Section -->
<div id="testimonials">
    <div class="container">
        <div class="section-title">
            <h2>Success Stories</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial">
                    <div class="testimonial-image"> <img src="~/img/story/story-1.jpg" alt=""> </div>
                    <div class="testimonial-content">
                        <p>"Finished this brutal workout plan that Jim set up for us. All I can say: it's amazing! The transformation that happened to me is NUTS."</p>
                        <div class="testimonial-meta"> - Kellier Smith </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <div class="testimonial-image"> <img src="~/img/story/story-2.jpg" alt=""> </div>
                    <div class="testimonial-content">
                        <p>"I finished this program and can't argue with the results! I'm down 6 percent body fat and 13 pounds. I also lost 2 inches off my waist. But, this is no shortcut to shred—you earn every bit of it. It's a tough program, but great. I would recommend it to everyone. "</p>
                        <div class="testimonial-meta"> - Jim Diego </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <div class="testimonial-image"> <img src="~/img/story/story-3.jpg" alt=""> </div>
                    <div class="testimonial-content">
                        <p>" I really enjoyed the 12 weeks. I lost 21 pounds and I feel much healthier and stronger. This program gave me the motivation I needed every day. Thanks again. "</p>
                        <div class="testimonial-meta"> - Shushan Mordi </div>
                    </div>
                </div>
            </div>
            <div class="row"> </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <div class="testimonial-image"> <img src="~/img/story/story-4.jpg" alt=""> </div>
                    <div class="testimonial-content">
                        <p>"Officially lost 57.5 pounds, went down 13 percent in body fat, and lost 26 inches! I still have a LONG way to go, but this program was definitely the kick-start that I needed! Thanks Lee for developing such an awesome program that was easy to follow and understand! "</p>
                        <div class="testimonial-meta"> - Ray Specter </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <div class="testimonial-image"> <img src="~/img/story/story-5.jpg" alt=""> </div>
                    <div class="testimonial-content">
                        <p>" Just finished this program today. I lost around 15 pounds and probably 6-8 percent body fat. It's a tough program, but worth it. Thanks Craig! "</p>
                        <div class="testimonial-meta"> - Michael O'Keefe </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <div class="testimonial-image"> <img src="~/img/story/story-6.jpg" alt=""> </div>
                    <div class="testimonial-content">
                        <p>"Just finishing up this program for the second time. I lost 7 pounds the first time and looks like I am going to lose 8 or 9 this time. Lots of inches and body fat lost as well. Kudos to Craig for this program and good luck to anyone attempting it. It's not easy, but it's well worth it! "</p>
                        <div class="testimonial-meta"> - Keith Wilson </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section -->
<div id="contact">
    <div class="container">
        <div class="col-md-8">
            <div class="row">
                <div class="section-title">
                    <h2>Get In Touch</h2>
                    <p>Please fill out the form below to send us an email and we will get back to you as soon as possible.</p>
                </div>
                <form name="sentMessage" id="contactForm" novalidate method="post" action="Index">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="name" class="form-control" placeholder="Name" required="required" name="name">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" id="email" class="form-control" placeholder="Email" required="required" name="email">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
                </form>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 contact-info">
            <div class="contact-item">
                <h4>Contact Info</h4>
                <p>
                    <span>Address</span><a href="https://goo.gl/AnbDwk" rel="nofollow" style="color:beige">
                        900 Dandenong Rd, <br>
                        Caulfield East VIC 3145
                    </a>
                </p>
            </div>
            <div class="contact-item">
                <p><span>Phone</span><a href="tel://03-9905-4000" rel="nofollow" style="color:beige">(03) 9905 4000</a></p>
            </div>
            <div class="contact-item">
                <p><span>Email</span><a href="mailto:xiifit@gmail.com" rel="nofollow" style="color:beige">xiifit@gmail.com</a></p>
            </div>
        </div>        
    </div>
</div>